

.dataTables_wrapper .dataTables_length select:focus {
	background-image: linear-gradient(#EE4323, #EE4323), linear-gradient(#b1b8bb, #b1b8bb) !important;
}
.dataTables_wrapper .dataTables_filter input {
	background-image: linear-gradient(#EE4323, #EE4323), linear-gradient(#b1b8bb, #b1b8bb);
}
.dataTables_wrapper .dataTables_info {
	padding-top: 1.4em;
	font-size: 0.8em;
}
.dataTables_wrapper .dataTables_paginate {
	padding-top: 0.7em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.2em 0.7em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #EE4323;
  border: 1px solid #EE4323;
  color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #EE4323;
  border: 1px solid #EE4323;
  color: white;
}
.dataTables_wrapper .table_display thead tr th:last-child,
.dataTables_wrapper .table_display tbody tr td:last-child {
	text-align: unset !important;
	max-width: unset !important;
	cursor: unset !important;
}
.dataTables_wrapper .table_action thead tr th:last-child,
.dataTables_wrapper .table_action tbody tr td:last-child {
	text-align: center !important;
	max-width: 125px !important;
	cursor: default !important;
	vertical-align: middle !important;
}
.dataTables_wrapper .table_action thead tr th:last-child:after {
	content: none !important;
}
.dataTables_wrapper th {
	vertical-align: middle !important;
}
.dataTables_wrapper .table_action thead tr th:first-child,
.dataTables_wrapper .table_action tbody tr td:first-child,
.dataTables_wrapper .table_display thead tr th:first-child,
.dataTables_wrapper .table_display tbody tr td:first-child {
	max-width: 50px !important;
	text-align: center !important;
	font-weight: bold;
	color: #455A64 !important;
}
.dataTables_wrapper .table_action thead tr th:after {
	padding-left: 10px;
}
.dataTables_wrapper thead tr th.sorting,
.dataTables_wrapper thead tr th.sorting_asc,
.dataTables_wrapper thead tr th.sorting_des {
	cursor: pointer;
}
.dataTables_wrapper tbody tr.odd {
	background-color: #FAFAFA;
}
.dataTables_wrapper tbody tr.even {
	background-color: #FFF;
}
.dataTables_wrapper tbody tr:hover {
	background-color: #F1F1F1 !important;
}
.dataTables_wrapper tbody:hover,
.dataTables_wrapper thead tr th:first-child {
	cursor: default;
}
.dataTables_wrapper thead tr th:nth-of-type(2),
.dataTables_wrapper tbody tr td:nth-of-type(2) {
	padding-left: 20px;
}
.dataTables_wrapper .sorting_disabled tr th::after,
.dataTables_wrapper tr th:first-child::after {
	content: none !important;
}
.dataTables_wrapper .dataTables_processing {
	text-align: center !important;
	top: 70px !important;
	font-weight: bold;
	position: relative !important;
}

/* dataTables with colspan and rowspan */
.dataTables_wrapper .table_rules thead tr th[colspan="2"],
.dataTables_wrapper .table_rules thead tr:nth-of-type(2) th {
	text-align: center;
	line-height: 10px;
	cursor: default;
}
.dataTables_wrapper .table_rules thead tr th:last-child:after {
	content: none;
}
.dataTables_wrapper .table_rules thead tr th:last-child,
.dataTables_wrapper .table_rules tbody tr td:last-child {
	text-align: center;
}
.dataTables_wrapper .table_rules tbody tr td:last-child {
	margin-right: -40px !important;
}
.dataTables_wrapper .table_rules thead tr:first-child th:first-child,
.dataTables_wrapper .table_rules tbody tr td:first-child {
	max-width: 50px !important;
	text-align: center !important;
	font-weight: bold;
	color: #455A64 !important;
}
.dataTables_wrapper .table_rules thead tr th.dt-control {
	max-width: 100px !important;
}


/* dataTables with details */
.dataTables_wrapper td.dt-control {
  text-align: center;
  cursor: pointer;
	/* padding-left: 35px; */
}
.dataTables_wrapper tr td.dt-control:before {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  content: "►";
	float: left;
	margin-right: -20px !important;
}
.dataTables_wrapper tr.details-nav td.control-nav:before,
.dataTables_wrapper tr.details-func td.control-func:before {
  content: "▼";
}
.dataTables_wrapper tbody tr td[colspan="6"] {
	text-align: right !important;
	align-content: right !important;
}
