

.card-two { 
	text-align: center; 
}
.card-two small {
  font-size: 0.7em !important;
}
ul.profile-timeline, ul.profile-timeline li {
  list-style: none;
  padding: 0;
}
ul.profile-timeline {
  border-radius: 12px;
  position: relative;
}
ul.profile-timeline li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #AAA;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  &:last-child{
    border: 0px;
    padding-bottom: 0;
  }
  &:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #EE4323;
    box-shadow: 3px 3px 0px #DDD;
    box-shadow: 3px 3px 0px #DDD;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }
}

ul.profile-timeline p {
	position: relative !important;
	top: -4px;
  color: #4f4f4f;
	font-family: sans-serif;
  line-height: 1.5;
}

.info-body {
	height: 338px !important;
	max-height: 338px !important;
}

.cover {
	background-repeat: no-repeat;
  background-size: cover;
	height: 120px !important;
  background-position: center;
	background-position-y: center;
}

.card-two .kontak {
  width: 250px !important;
  max-width: 100% !important;
  margin: 0 auto 3.5rem;
}
.card-two .kontak .capsule {
  /* width: calc(100% / 5) !important; */
  display: block;
  float: left;
  text-align: center;
  color: #1976d2;
}

.profile-tab li a.nav-link {
  color: #99ABB4;
  padding: 10px 15px;
}
.card .profile-tab li a.nav-link.active {
  border-bottom: 2px solid #EE4323;
  color: #EE4323;
}
/* BUTTON TAB */
.nav-button {
	position: absolute !important;
	right: 20px !important;
	color: #99ABB4 !important;
	margin-top: -5px;
}
.tag-skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.tag-skills li {
	display: inline-block !important;
	padding: 5px 13px;
	margin: 5px;
	border-radius: 2px;
	color: #F1F1F1;
}
.card-media .body-media-profile {
	border-bottom: 1px solid #DDD;
}
.card-media .body-media-profile:last-child {
	border-bottom: 0px !important;
}
.card-media .icon-media-profile {
	width: 70px !important;
	height: 70px !important;
	padding: 10px;
	display: block;
	text-align: center;
	background: #E1E1E1;
	vertical-align: bottom !important;
	position: relative;
	line-height: 50px !important;
} 
.card-media .icon-media-profile i.fa {
	font-size: 1.5em;
	position: relative !important;
}
@media (max-width: 992px) {
	.card-media .body-media-profile .col-1 {
		margin-right: 15px !important;
	}
}
@media (max-width: 768px) {
	.card-media .body-media-profile .col-1 {
		margin-right: 25px !important;
	}
}
@media (max-width: 576px) {
	.card-media .body-media-profile .col-1 {
		margin-right: 35px !important;
	}
}
#modal-skills .tag-skills li {
	padding-right: 10px;
	cursor: default !important;
}
#modal-skills .tag-skills li i {
	margin-left: 10px;
}
#modal-skills .tag-skills li a:hover {
	color: #EE4323;
}
#modal-experience .modal-body,
#modal-education .modal-body {
	max-height: 300px !important;
	overflow-y: scroll;
}
#modal-skills .modal-body .scroll-skills {
	min-height: 240px !important;
	max-height: 240px !important;
	overflow-y: scroll;
}
textarea.form-control {
	height: auto !important;
}
.card-media a,
.card-media a:hover,
.card-two a,
.card-two a:hover {
	color: #455A64;
}
.info-body .media a:hover {
	color: #EE4323;
}

#addUser .input-group-btn .btn {
	padding: 10px !important;
}
#addUser label span.text-muted {
	font-size: 0.8em !important;
	margin-left: 1em !important;
}
form .profile-pic {
  width: 120px !important;
  height: 120px !important;
  border-radius: 100%;
}
form .cover-pic {
	background-repeat: no-repeat;
  background-size: cover;
	height: 120px !important;
  background-position: center;
	background-position-y: center;
}
@media screen and (max-width: 768px) {
	.card-edit .form-body .input-group-cover {
		position: absolute !important;
		top: 0px !important;
	}
	.card-edit .form-body .input-group-cover label {
		display: none;
	}
	.card-edit .form-body .input-group-cover input {
		background: none !important;
		border: none !important;
		color: transparent;
		overflow: hidden;
		float: right !important;
		width: 120px !important;
	}
	.card-edit .row-avatar {
		position: relative;
		top: -70px;
	}
	.card-edit .row-avatar label {
		margin-left: 55px;
	}
	.card-edit .row-avatar label span.small {
		display: none !important;
	}
	.card-edit .profile-pic {
		border: 3px solid #F1F1F1;
	}
	.card-edit .input-text-group,
	.card-edit .form-actions {
		position: relative;
		top: -70px;
	}
	.card-edit .input-text-group,
	.card-edit .form-actions,
	.card-edit .input-text-group .row {
		padding-bottom: 0 !important;
		padding-top: 0 !important;
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
	.card.card-edit {
		padding-bottom: 0 !important;
		height: 93% !important;
	}
	.card-edit .container-fluid {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}
}
.nav-button .dropdown.show button.dropdown-toggle {
	background: #EE4323 !important;
	color: #F1F1F1 !important;
	border: 1px solid #EE4323 !important;
}
.nav-button .dropdown ul.dropdown-menu {
	padding: 0px !important;
}
.nav-button .dropdown ul.dropdown-menu li {
	padding: 0px !important;
	text-align: right !important;
}
.nav-button .dropdown ul.dropdown-menu li .btn {
	text-align: right !important;
	border-radius: 0px !important;
	margin-top: 2px;
	margin-bottom: 2px;
}
.nav-button .dropdown ul.dropdown-menu li .btn:hover {
	background: #F1F1F1;
	color: #EE4323;
}





