

.select2.select2-container {
  width: 100% !important;
	padding-top: 3px !important;
}

.select2.select2-container .select2-dropdown {
	max-height: 250px;
	box-shadow: rgba(0, 0, 0, .256863) 0 2px 6px !important;
}

.select2.select2-container .select2-selection {
  border: 1px solid #E7E7E7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 0px !important;
  height: 41px !important;
  margin-bottom: 7px;
	margin-top: -3px !important;
  outline: none !important;
  transition: all .15s ease-in-out;
	/* color: #878787; */
	padding-left: 2px !important;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #495057 !important;
  line-height: 41px;
  padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
  background: none;
  border-left: none;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  height: 38px;
  width: 33px;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
  background: #f8f8f8;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
  border: 1px solid #34495e;
}

.select2.select2-container .select2-selection--multiple {
  height: auto !important;
  min-height: 34px;
	padding: 10px !important;
}
.select2.select2-container .select2-selection.select2-selection--multiple {
	border: 1px solid  #34495e !important;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 35px;
	line-height: 35px;
	width: 100% !important;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block;
  padding: 0 4px;
  line-height: 45px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
  /* background-color: blue !important; */
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 5px 0 0;
  padding: 0 27px 0 10px;
  height: 35px;
  line-height: 35px;
  font-size: inherit !important;
  position: relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  font-size: 16px;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: -5px;
}

.select2-container .select2-dropdown .select2-search {
  padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none !important;
  border: 1px solid #34495e !important;
  border-bottom: none !important;
  padding: 4px 6px !important;	
}

.select2-container .select2-dropdown .select2-results {
  padding: 0;
}
.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #34495e;
}
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #3498db;
}
