/* GLOBAL CUSTOM */
:root {
	--c-grey-100: #f4f6f8;
	--c-grey-200: #e3e3e3;
	--c-grey-300: #b2b2b2;
	--c-grey-400: #7b7b7b;
	--c-grey-500: #3d3d3d;
	--c-blue-500: #688afd;

	/* dark color */
	--text-dark: #D1D1D1;
	--text-active: #F1F1F1;
	--red-theme: #EE4323;
	--link-hover: #EE4323;
	--bg-dark: #575757;
	--bg-main: #252526;
	--bg-card: #323233;
	--bg-hover: #1E1E1E;
	--shadow: 0 0 12px #1E1E1E;
}


.navbar-brand img {
	position: relative;
	top: -3px !important;
	margin-right: 5px;
}
a.nav-link {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
a.nav-link:hover {
	background: #F1F1F1;
}
a.nav-link img {
	margin-left: 10px !important;
	height: 35px;
	width: 35px !important;
}
nav.sidebar-nav ul#sidebarnav li a {
	padding: 1em;
}
nav.sidebar-nav ul#sidebarnav li a,
nav.sidebar-nav ul#sidebarnav li a i {
	color: #99ABB4;
}
nav.sidebar-nav ul#sidebarnav li a i {
	position: relative;
	top: -2px !important;
	font-size: 1.4em;
}
nav.sidebar-nav ul#sidebarnav li a:hover {
	background: #F1F1F1;
}
nav.sidebar-nav ul#sidebarnav li.aktif i {
	color: #EE4323 !important;
}
nav.sidebar-nav ul#sidebarnav li.aktif a {
	color: black;
}
.text-primary {
	color: #EE4323 !important;
}

footer.footer {
	font-size: 0.6em !important;
	margin-top: 0 !important;
}
footer.footer a:hover {
	color: #EE4323 !important;
}
.page-wrapper,
.page-wrapper .page-titles {
	background-color: #F1F1F1 !important;
}
.page-wrapper .page-titles {
  margin: 0 0 10px;
  padding: 15px 20px 0px 20px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.nav-link .display-user {
	top: 8px;
	line-height: 0.9em;
	text-align: right;
	display: inline-block !important;
	position: relative !important;
	bottom: 0px !important;
}
.nav-link .display-user span {
	font-size: 1em;
}

.scroller {
	height: calc(100vh - 56px) !important;
	max-height: calc(100vh - 56px) !important;
	overflow-y: hidden !important;
}
footer.footer {
	position: relative !important;
	background: #FFF !important;
  left: 0 !important;
  padding: 0 !important;
	padding-top: 10px !important;
	bottom: 0px !important;
	border-top: 1px solid #DDD !important;
}
.mini-sidebar footer.footer text {
	margin-left: 70px !important;
}
footer.footer text {
	margin-left: 250px !important;
}
#toast-container.toast-top-center {
	top: 12px !important;
}
.card-body .input-group .input-group-btn button {
	padding: 12px 10.5px 9px 10.5px !important;
}
a.btn-secondary.btn-custom:hover,
button.btn-secondary.btn-custom:hover {
	border: 1px solid #B1B8BB !important;
}
a.btn-secondary.btn-custom:hover:has(> i.fa-trash),
button.btn-secondary.btn-custom:hover:has(> i.fa-trash) {
	background: #EE4323;
	color: #F1F1F1;
}
a.btn-secondary.btn-custom:hover:has(> i.fa-pencil),
button.btn-secondary.btn-custom:hover:has(> i.fa-pencil) {
	background: #FFB22B;
	color: #F1F1F1;
}
a.btn-secondary.btn-custom:hover:has(> i.fa-edit),
button.btn-secondary.btn-custom:hover:has(> i.fa-edit) {
	background: #FFB22B;
	color: #F1F1F1;
}
a.btn-secondary.btn-custom:hover:has(> i.fa-plus),
button.btn-secondary.btn-custom:hover:has(> i.fa-plus) {
	background: #1976D2;
	color: #F1F1F1;
}
a.btn-secondary.btn-custom:hover:has(> i.fa-eye),
button.btn-secondary.btn-custom:hover:has(> i.fa-eye) {
	background: #1976D2;
	color: #F1F1F1;
}
.input-group .input-group-btn a.btn:hover:has(> i.fa-edit),
.input-group .input-group-btn button.btn:hover:has(> i.fa-edit) {
	background: #FFB22B;
	color: #F1F1F1;
}
.input-group .input-group-btn a.btn:hover:has(> i.fa-pencil),
.input-group .input-group-btn button.btn:hover:has(> i.fa-pencil) {
	background: #FFB22B;
	color: #F1F1F1;
}
.input-group .input-group-btn a.btn:hover:has(> i.fa-eye),
.input-group .input-group-btn button.btn:hover:has(> i.fa-eye) {
	background: #727B84;
	color: #F1F1F1;
}
.input-group .input-group-btn a.btn:hover:has(> i.fa-eye-slash),
.input-group .input-group-btn button.btn:hover:has(> i.fa-eye-slash) {
	background: #727B84;
	color: #F1F1F1;
}
.hover-danger:hover {
	background: #EE4323 !important;
	color: #F1F1F1 !important;
	border: 1px solid #EE4323 !important;
}
.hover-info:hover {
	background: #1976D2 !important;
	color: #F1F1F1 !important;
	border: 1px solid #1976D2 !important;
}
body.modal-open {
	padding-right: 0px !important;
}
body.modal-open .modal {
	margin-left: 19px !important;
}
.jconfirm .jconfirm-box {
  border-radius: 3px !important;
	width: 400px !important;
  margin-left: auto;
  margin-right: auto;
}
.modal .modal-header {
	padding-bottom: 7px !important;
}
small.form-control-feedback {
	color: #EE4323 !important;
}



/* RESPONSIVE */
@media (max-width: 768px) {
	.scroller {
		height: 100vh !important;
		max-height: 100vh !important;
	}
	.mini-sidebar footer.footer text,
	footer.footer text {
		margin-left: 30px !important;
	}
}
@media (max-width: 576px) {
	.mini-sidebar footer.footer text,
	footer.footer text {
		margin-left: 15px !important;
	}
}







/* DARK THEME */
body.dark,
body.dark nav.navbar,
body.dark nav.navbar .navbar-header,
body.dark .left-sidebar,
body.dark .left-sidebar .slimScrollDiv .scroll-sidebar nav,
body.dark .left-sidebar .slimScrollDiv .scroll-sidebar nav.sidebar-nav ul li.aktif a,
body.dark footer.footer {
	background: var(--bg-main) !important;
	background-color: var(--bg-main) !important;
	color: var(--text-dark) !important;
}

body.dark .card .card-body h5,
body.dark .sidebar-nav .nav-label,
body.dark a.nav-link,
body.dark .card .card-body .card-title,
body.dark footer a,
body.dark .card-title,
body.dark .card-body h3 *,
body.dark .card-body h4 *,
body.dark .card-body .desc *,
body.dark .card-body ul li .media-heading {
	color: var(--text-dark) !important;
}

body.dark .container-fluid .card-body .card-two h3 * {
	/* color: red !important; */
}

body.dark a.navbar-brand,
body.dark .left-sidebar .slimScrollDiv .scroll-sidebar nav.sidebar-nav ul li.aktif a,
body.dark .page-wrapper .page-titles h3 {
	color: var(--text-active) !important;
}

body.dark .page-titles ol.breadcrumb li a:hover {
	color: var(--red-theme) !important
}

body.dark a.nav-link:hover,
body.dark .checkbox-wrapper-14:hover,
body.dark .left-sidebar nav.sidebar-nav ul li a:hover,
body.dark .left-sidebar nav.sidebar-nav ul li a:hover i {
	background: var(--bg-hover) !important;
	color: var(--text-active) !important;
}

body.dark .page-wrapper,
body.dark .page-wrapper .page-titles,
body.dark .page-titles ol.breadcrumb * {
	background: var(--bg-dark) !important;
	color: var(--text-dark) !important;
}

body.dark .container-fluid .card {
	background: var(--bg-card) !important;
	color: var(--text-dark) !important;
}

body.dark .btn-custom {
	background: var(--bg-card);
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
body.dark .btn-custom:hover {
	-moz-box-shadow: var(--shadow) !important;
	-webkit-box-shadow: var(--shadow) !important;
	box-shadow: var(--shadow) !important;
}

/* CARD STYLE DARK HAS PENDING */


body.dark .card-body .avatar {
	border: 3px solid var(--bg-card) !important;
}
body.dark .card-two h3::after {
  background: var(--text-active) !important;
}
body.dark .sidebar-nav > ul > li.active > a {
  border-left: 3px solid transparent !important;
}
body.dark footer.footer {
	border-top: 1px solid black !important;
}































/* CHECKBOX */
.checkbox-wrapper-14:hover {
	cursor: pointer !important;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	.checkbox-wrapper-14 input[type=checkbox] {
		--active: #EE4323;
		--active-inner: #fff;
		--focus: 2px rgba(39, 94, 254, .3);
		--border: #BBC1E1;
		--border-hover: #EE4323;
		--background: #fff;
		--disabled: #F6F8FF;
		--disabled-inner: #E1E6F9;
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 21px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		margin-right: 20px;
		cursor: pointer;
		border: 1px solid var(--bc, var(--border));
		background: var(--b, var(--background));
		transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
	}
	.checkbox-wrapper-14 input[type=checkbox]:after {
		content: "";
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
	}
	.checkbox-wrapper-14 input[type=checkbox]:checked {
		--b: var(--active);
		--bc: var(--active);
		--d-o: .3s;
		--d-t: .6s;
		--d-t-e: cubic-bezier(.2, .85, .32, 1.2);
	}
	.checkbox-wrapper-14 input[type=checkbox]:disabled {
		--b: var(--disabled);
		cursor: not-allowed;
		opacity: 0.9;
	}
	.checkbox-wrapper-14 input[type=checkbox]:disabled:checked {
		--b: var(--disabled-inner);
		--bc: var(--border);
	}
	.checkbox-wrapper-14 input[type=checkbox]:disabled + label {
		cursor: not-allowed;
	}
	.checkbox-wrapper-14 input[type=checkbox]:hover:not(:checked):not(:disabled) {
		--bc: var(--border-hover);
	}
	.checkbox-wrapper-14 input[type=checkbox]:focus {
		box-shadow: 0 0 0 var(--focus);
	}
	.checkbox-wrapper-14 input[type=checkbox]:not(.switch) {
		width: 21px;
	}
	.checkbox-wrapper-14 input[type=checkbox]:not(.switch):after {
		opacity: var(--o, 0);
	}
	.checkbox-wrapper-14 input[type=checkbox]:not(.switch):checked {
		--o: 1;
	}
	.checkbox-wrapper-14 input[type=checkbox] + label {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin-left: 4px;
	}

	.checkbox-wrapper-14 input[type=checkbox]:not(.switch) {
		border-radius: 7px;
	}
	.checkbox-wrapper-14 input[type=checkbox]:not(.switch):after {
		width: 5px;
		height: 9px;
		border: 2px solid var(--active-inner);
		border-top: 0;
		border-left: 0;
		left: 7px;
		top: 4px;
		transform: rotate(var(--r, 20deg));
	}
	.checkbox-wrapper-14 input[type=checkbox]:not(.switch):checked {
		--r: 43deg;
	}
	.checkbox-wrapper-14 input[type=checkbox].switch {
		width: 38px;
		border-radius: 11px;
	}
	.checkbox-wrapper-14 input[type=checkbox].switch:after {
		left: 2px;
		top: 1px;
		border-radius: 50%;
		width: 17px;
		height: 17px;
		background: var(--ab, var(--border));
		transform: translateX(var(--x, 0));
	}
	.checkbox-wrapper-14 input[type=checkbox].switch:checked {
		--ab: var(--active-inner);
		--x: 17px;
	}
	.checkbox-wrapper-14 input[type=checkbox].switch:disabled:not(:checked):after {
		opacity: 0.6;
	}
}

.checkbox-wrapper-14 * {
	box-sizing: inherit;
}
.checkbox-wrapper-14 *:before,
.checkbox-wrapper-14 *:after {
	box-sizing: inherit;
}
.checkbox-wrapper-14 label {
	position: relative;
	top: -3px !important;
	margin-right: 2px;
	cursor: pointer;
}



